.pricingPageLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topLayout {
    margin-top: 40px;
}

.bottomLayout {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.pricingInfo {
    padding: 30px;
}

.veryBottom {
    display: flex;
    margin-bottom: 15px;
}